[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Pillow = "~=10.1.0"
mysqlclient = "~=2.2.4"
django = "*"
django-simple-history = "*"
python-dateutil = "*"
python-decouple = "*"
reportlab = "*"

[dev-packages]

[requires]
python_version = "3.12"
